*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#6C63FF,#4ECDC4);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.container{

width:850px;

background:rgba(255,255,255,.95);

border-radius:20px;

padding:40px;

box-shadow:0 20px 40px rgba(0,0,0,.25);

backdrop-filter:blur(12px);

}

.header{

text-align:center;

margin-bottom:35px;

}

.header h1{

font-size:42px;

color:#2d2d2d;

}

.header p{

margin-top:10px;

color:#666;

font-size:18px;

}

label{

display:block;

margin-top:25px;

margin-bottom:10px;

font-size:18px;

font-weight:bold;

color:#333;

}

select,textarea{

width:100%;

padding:15px;

font-size:17px;

border-radius:12px;

border:2px solid #ddd;

transition:.3s;

}

select:focus,

textarea:focus{

outline:none;

border-color:#6C63FF;

}

textarea{

resize:none;

}

button{

margin-top:30px;

width:100%;

padding:16px;

font-size:20px;

font-weight:bold;

background:#6C63FF;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#4ECDC4;

transform:scale(1.02);

}

.results{

margin-top:40px;

}

.results h2{

margin-bottom:25px;

color:#333;

}

.card{

background:white;

border-left:6px solid #6C63FF;

padding:18px;

margin-bottom:18px;

border-radius:10px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.card h3{

margin-bottom:10px;

color:#444;

}

.card p{

font-size:20px;

font-weight:bold;

color:#6C63FF;

}

.response{

margin-top:25px;

background:#f4f8ff;

padding:25px;

border-radius:15px;

border:2px solid #d8e7ff;

}

.response h3{

margin-bottom:15px;

}

.response p{

font-size:18px;

line-height:1.8;

color:#444;

}

@media(max-width:900px){

.container{

width:95%;

padding:25px;

}

.header h1{

font-size:32px;

}

}

.about{

margin-top:30px;

margin-bottom:30px;

padding:20px;

background:#f8f9ff;

border-left:5px solid #6C63FF;

border-radius:10px;

}

.about h2{

margin-bottom:10px;

color:#333;

}

.about p{

line-height:1.7;

color:#555;

font-size:16px;

}

.footer{

margin-top:50px;

text-align:center;

color:#666;

}

.footer hr{

margin-bottom:20px;

border:none;

height:1px;

background:#ddd;

}

.footer p{

font-size:15px;

margin-bottom:8px;

}

.footer h3{

color:#444;

font-size:22px;

font-weight:600;
}